$violet: #FFf;
$header_color: #f26649;
$top_header: #4a245e;
$top_nag: #ffcc00;
$search: #5b3a6d;
$logo: #a5cd39;
$input_header: #003366;
$input_header_background: #ffcc00;
$cl_effect: #6f8686;
$text_shadow: rgba(111,134,134,0.3);
